$colourPrimary: #1b317a;
$colourPrimaryLight: #158bc5;
$colourBtnGreen: #00af6c;
$colourWarnRed: #db4c3c;
$colourBorder: rgb(233, 233, 233);
$colourInputBorder: #bcc8e0;
$colourTextMuted: #6c757d;
$colourTextMutedDark: #303336;
$colourTextWhiteMuted: #cfcfcf;
$sectionEndSpacing: 60px;
$standardSpacing: 30px;

$breakpointDesktop: 1400px;
$breakpointTablet: 1025px;
$breakpointMobileLg: 736px;
$breakpointMobile: 480px;